source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/refs/heads/master/direnvrc" sha256-zf2nLUsxtVCytS7byvt5DEkaYTPcGd/bEveT05o7lUQ=
use flake   # caches the dev shell keyed on flake inputs
watch_file flake.lock