/.idea/
/log-usage.txt
/.metals/
/webapp-temp/
/hs_err_*.log
.DS_Store
/src/main/webapp/WEB-INF/source-jsp/
/.bloop/
/*.iml
/dumpTemp/
/logs/
/api/config/
/cache/
/tracking.txt
/src-deps/
/out/
/.logs/
target/
developer.properties
/webapp-composite/
developer.hocon
/webapp-exploded/

/.gradle

/*/build
data/
cache/
config/
/tmp/
.bsp
.vscode
.direnv
temp

project/.boot/
project/.ivy/
project/.sbtboot/
